<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12">

  <% if @students.any? %>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8">

      <% @students.each do |student| %>
        <%= render "shared/student_card", student: student %>
      <% end %>

    </div>
  <% else %>
    <p class="text-center text-gray-500">No students yet</p>
  <% end %>

</div>

<% if @pagy.pages > 1 %>
  <div class="flex justify-center mt-12">
    <div class="mb-6 bg-white/80 backdrop-blur-sm rounded-3xl shadow-md border border-emerald-100/50 px-6 py-4">
      <div>
        <%== pagy_nav(@pagy) %>
      </div>
    </div>
  </div>
<% end %>

