footer {
  hr {
    border: none;
    height: 1px;
    background-color: $grey-color;
  }

  .contacts_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: start;
    align-content: center;
    width: 100%;

    .contact_details, .follow_social_links {
      width: 250px;
    }

    .contacts_title {
      color: $primary-color;
      text-transform: uppercase;
      font-weight: $base-font-weight;
      font-size: 1rem;
      padding: 3rem 0 1rem 0;
    }

    li {
      color: $brown-color;
      font-weight: $base-font-weight;

      p {
        text-decoration: none;
      }

      a {
        color: $brown-color;
      }
    }
  }

  .rights {
    text-align: center;
    margin: 2rem 0;
  }
}

footer {
  @include breakpoint(tablet) {
    .contacts_wrapper {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
      text-align: center;
    }
  }

  @include breakpoint(phone) {
    .contacts_wrapper {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
      text-align: center;
    }
  }
}