<div id="contact-details">
  <hr />
  <div class="contacts_wrapper">
    <div class="logo-wrapper">
      <%= link_to root_path, class: "" do %>
        <%= image_tag 'logo.jpg', class: 'alc_logo', alt: 'alc-logo' %>
      <% end %>
    </div>
    <div class="contact_details">
      <h2 class="contacts_title">Contact details</h2>
      <ul>
        <li>
          <p>Beirut, Lebanon</p>
        </li>
        <li>
          <p>+961 1 250 745 </p>
        </li>
        <li>
          <p>adventistlearningcenterbeirut@gmail.com</p>
        </li>
      </ul>
    </div>
    <div class="follow_social_links">
      <h2 class="contacts_title">Follow us</h2>
        <ul>
          <li>
              <a href="https://www.instagram.com/adventistlearningcenter/" target="_blank" rel="noopener">Instagram</a>
          </li>
          <li>
              <a href="https://www.facebook.com/adventistlearningcenter" target="_blank" rel="noopener">Facebook</a>
          </li>
        </ul>
    </div>
  </div>
  <hr />
  <div class="rights">
    <span>© 2023 <a href="https://www.linkedin.com/in/meri-gogichashvili/" target="_blank" rel="noopener">MeriMG</a>. All Rights Reserved.
    </span>
  </div>
</div>
