<!-- Jumbotron -->
<div
  class="cover-image">
  <%= image_tag("cover_image.jpg", alt: "cover image", class: '')%>
  <div
    class="overlay">
    <div class="text-content">
      <div>
        <h2>Adventist Learning Center</h2>
        <h4>Working towards a brighter future</h4>
        <%= link_to 'Sponsor a student', sponsor_students_path, class: '' %>
      </div>
    </div>
  </div>
</div>
<!-- Jumbotron -->