
<%= render 'shared/jumbotron' %>

<div>
<h3 class="about_us" id="about">
    About us
  </h3>
      
  <p class="description">
    Adventist Learning Center provides quality education to Syrian and Kurdish Refugees living in Beirut, Lebanon.
    Teachers from around the world come together to create a safe, stable, and loving faith-based environment where refugee
    kids can learn academics, character growth, and more about God. A full scale of academics for students in 1st to 8th grade
    is provided to approximately 115 students each year. <br />
    <br />
    Adventist Learning Center is a project of the Seventh-day Adventist Church
    and was started through their support. However, it is only through the generosity of private individuals around the world that it is
    able to remain open each year. For refugees living below the poverty level, the ability to pay for education is impossible.  <br />
    <br />
    Join us in helping keep the door open for these precious children who have no one else to fight for them. Your generosity will
    give them an education now that will help them rebuild their lives and pursue productive meaningful futures.
  </p>
</div>
