
<%= render 'shared/jumbotron' %>

<h3 class="mb-4 text-lg font-semibold leading-none tracking-tight text-center text-dark-green uppercase md:text-3xl lg:text-4xl mt-6" id="about-us">
  About us
</h3>
    
<%= render 'about/about_content', about_content: @about.content %>
