<div class="container w-3/4 flex flex-col justify-center align-center mx-auto">
  <h1 class="mb-2 text-lg font-semibold text-light-brown">How to Donate</h1>
  <p class="mb-2 text-lg font-semibold text-dark-green">Here are instructions on how to donate:</p>
  <ol class="max-w-md space-y-1 text-gray-600 list-disc list-inside">
    <li>Step 1: Click the link below</li>
    <li>Step 2: Choose the donation amount</li>
    <li>Step 3: Choose <strong>"Other - Put details in comments below"</strong> from <strong>"My donations is for"</strong> field</li>
    <li>Step 4: Fill in necessary details</li>
    <li>Step 5: Write in the <strong>"Comments"</strong> text area - <strong>"7580 Adventist Learning Center"</strong></li>
    <li>Step 6: If your donation is for a <i><strong>particular student</strong></i> write in the <strong>"Comments"</strong> text area - <strong>"7580 Adventist Learning Center Donate ID: {Donate ID of a specific student}"</strong></li>
  </ol>
  <a href="https://www.adventistmission.org/donate" target="_blank" rel="noopener" class="mt-4 font-medium font-semibold text-light-brown hover:underline text-lg">Click Donate</a>
  <p class="mt-4 text-lg font-semibold text-dark-green">Thank you for your support!</p>
</div>