<div class="donate_instructions">
  <h2>Here are instructions on how to sponsor <%= @sponsor_student.name %>:</h2>
  <ol>
    <li> Click the link below</li>
    <li> Write in $45 a month and select "recurring payment" </li>
    <li> Choose <strong>"Other - Put details in comments below"</strong> from <strong>"My donations is for"</strong> field</li>
    <li> Fill in necessary details</li>
    <li> Write in the <strong>"Comments"</strong> text area - <strong>"7580 Adventist Learning Center Donate ID: <%= @sponsor_student.unique_identifier %>"</strong></li>
  </ol>
  <p class="click_donate">Click <a href="https://www.adventistmission.org/donate" target="_blank" rel="noopener" class="donate_link">Donate</a></p>
  <p>Thank you for your support!</p>
</div>
