
.logo-wrapper {
  max-width: 30%;
}

.alc_logo {
  width: 250px;
  height: 200px;
}

footer {
  hr {
    border: none;
    height: 1px;
    background-color: $grey-color;
  }

  .contacts_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: start;
    align-content: center;
    width: 100%;

    .contact_details, .follow_social_links {
      width: 250px;
    }

    .contacts_title {
      color: $primary-color;
      text-transform: uppercase;
      font-weight: $base-font-weight;
      font-size: 1rem;
      padding: 3rem 0 1rem 0;
    }

    li {
      color: $brown-color;
      font-weight: $base-font-weight;

      p {
        text-decoration: none;
      }

      a {
        color: $brown-color;
      }
    }
  }

  .rights {
    text-align: center;
    margin: 2rem 0;
  }
}


.cover-image {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border-radius: $base-border-radius;

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Adjust the overlay color and opacity */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .text-content {
    text-align: center;
    color: white;
    padding: 20px;
    max-width: 80%;

    h2 {
      font-weight: 600;
      font-size: 2.25rem;
      line-height: 2.5rem;
      margin-bottom: 1rem;
    }

    h4 {
      font-weight: 600;
      font-size: 1.25rem;
      line-height: 1.75rem;
      color: $color-opacity;
    }

    a {
      font-weight: 500;
      font-size: 1rem;
      padding: 0.5rem 1.75rem;
      text-transform: uppercase;
      color: $color-opacity;
      border: 2px solid $color-opacity;
      border-radius: $base-border-radius;
      padding: 1rem 1.8rem;
      text-decoration: none;
      transition: all 0.3s ease;

      &:hover {
        color: white;
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
  }
}

footer {
  @include breakpoint(tablet) {
    .contacts_wrapper {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
      text-align: center;
    }
  }

  @include breakpoint(phone) {
    .contacts_wrapper {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
      text-align: center;
    }
  }
}

@include breakpoint(phone) {

  .logo-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      text-align: center;
  }
}

nav {
  @include breakpoint(tablet) {
    .contacts_wrapper {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
      text-align: center;
    }
  }

  @include breakpoint(phone) {
    .contacts_wrapper {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
      text-align: center;
    }
  }
}

