.pagination {
  display: flex;
  flex-direction: row;
  padding: 24px;
  border-radius: 6px;
  box-shadow: 0px 4px 8px 0px rgba(31, 41, 55, 0.14);
  background-color: #fff;
  position: relative;
  max-width: 50%;
  min-width: 30%;
  margin: 0 auto;

  span {
    padding: 8px 12px;
    margin: 0 auto;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;

      &:hover {
        background-color: #f4f4f4;
      }

      &.active {
        background-color: $primary-color;
        color: white;
        border: none;

        &:hover {
          background-color: $secondary-color;
          color: white;
          border: none;
      }
    }
  }
}

@include breakpoint(tablet){
  .pagination {
    max-width: 70%;
    padding: 20px;

    span {
      padding: 6px 10px;
    }
  }
}

@include breakpoint(phone){
  .pagination {
    max-width: 90%;
    padding: 16px;

    span {
      padding: 4px 8px;
    }
  }
}
