$primary-color: #067e5b;
$secondary-color: #acc174;
$brown-color: #7b5f37;
$grey-color: #757575;
$base-font-size: 16px;
$base-font-weight: 800;
$color-opacity: rgba(255, 255, 255, 0.9);
$base-border-radius: 0.3rem;